# Node modules
node_modules/
**/node_modules/

# Build output
**/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env

# Lock files
package-lock.json

# Icon assets
public/icons/
